<li class="flex-box flex-box-big draggable" id="task[<%= task.id %>]">
  <span class="fa-stack">
    <i class="fa fa-square-o fa-stack-2x"></i>
    <i class="fa fa-twitter fa-stack-1x"></i>
  </span>
  <h1 class="flex-title"></h1>
  <p><%= task.name %></p>
  <p><%= task.description %></p>
</li>
