<p id="notice"><%= notice %></p>

<h1>All Tasks</h1>
<%= link_to 'New Task', new_task_path, class: "new-task", remote: true %>

<div id="new-task-form">
</div>

<% if @tasks.any? %>
  <ul class="flex-boxes tasklist">
    <%= render @tasks %>
  </ul>
<% end %>

<% if logged_in? %>
  <p><%=link_to 'log out', logout_path, method: :delete  %></p>
<% end %>
