/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require font-awesome
 */

@import "bourbon";
@import "base/base";
@import "neat";
@import "refills/flex-boxes";
@import "refills/flashes";
@import "refills/badges";
@import "refills/dropdown";


$mdlogogreen: #013a19;
$mdred: #fc363b;
$mdlime: #e2e553;
$mdgreen: #499544;


body {
  -webkit-font-smoothing: antialiased;
  background-color: #73ba80;
}


main {
  @include outer-container;
  padding: 0.25em 1em;
}

.sortable-placeholder {
  border: 1px $mdlogogreen dashed;
  height: 8em;
  width: 100%;
  display: block;
  clear: both;
  background-color: transparentize($mdred, .50);
}

video#bgvid {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background-color: #73ba80;
    background-size: cover;
}

.floatBtns {
  position: fixed;
  top: 0em;
  right: .5em;
  width: 100%;

  div {
    -webkit-box-shadow: -1px 4px 10px 1px rgba(0,0,0,0.25);
    -moz-box-shadow: -1px 4px 10px 1px rgba(0,0,0,0.25);
    box-shadow: -1px 4px 10px 1px rgba(0,0,0,0.25);
    float: right;
    margin: 0em .2em;

    button {
      border-radius: 0;
    }
  }

  div.hideTasks {
    float: left;
  }

  div.dropdown {
    -webkit-box-shadow: 0 0 0 0;
    -moz-box-shadow: 0 0 0 0;
    box-shadow: 0 0 0 0;
  }

}

$motivated: #459B54;
$unmotivated: #CA635B;

.motivated {
  background-color: $motivated;
}

.unmotivated {
  background-color: $unmotivated;
}

.motivated:hover, .motivated:focus{
  background-color: lighten($motivated, 10%);
}

.unmotivated:hover, .unmotivated:focus {
  background-color: lighten($unmotivated, 10%);
}


button.todone {
  @include button(pill);
  float: right;
  padding: 5px;
  margin: 0;
  height: 100%;
}

.category-badge {
  @include badge;
  float: left;
  margin-top: 1em;
  margin-bottom: 0;
}

.task {
  @include fill-parent();
}

.task-left-header {
  float: left;
}

.task-main{
  @include reset-display;
  @include span-columns(8);
}

.task-right-header {
  @include span-columns(2);
}




